a {
  &:active {
    color: inherit;
  }
}

* {
  &:focus {
    outline: none;
  }
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-none {
  display: none;
}

.flex-1 {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.mr-20 {
  margin-right: 20px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}